.alert {
  position: fixed;
  top: 60px;
  right: 2px;
  z-index: 1000;
}

#note{
  background-color:#dee2e6;
  color:#5e6472;
  border:1px solid #5e6472;
  opacity:0.7;
}

#note:hover{
  opacity:1;
}

#warning{
  background-color:#ddbea9;
  color:#d00000;
  border:1px solid #d00000;
  opacity:0.7;
}

#warning:hover{
  opacity:1;
}
