.banner{

  background-image: image-url('homepage.jpg');
  height:210px;
  width:100%;
  background-repeat:no-repeat;
  background-size:cover;
  padding:20px;
  h1{
    color:white;
    text-shadow: 2px 2px #264653;
    font-family: 'Lobster', cursive;
    font-size:120px;
    text-align:center;
  }
}
