.btn{
  background-color:#264653;
  border:1px solid #2f3e46;
  border-radius:5px;
}

.btn:hover{
  background-color:#84a59d;
  border:1px solid #84a59d;
}

.openbtn {
  background-color:#264653;
  border:1px solid #2f3e46;
  border-radius:5px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  width:140%;
}

.openbtn:hover {
  background-color: #444;
}

.logbtn{
  border:1px solid #cad2c5;
  border-radius:15px;
  a{
  color:#cad2c5;
  }
  a:hover{
    color:#333533;
  }
}

.logbtn:hover{
background-color: #cad2c5;
color:#333533;
}

.closebtn{
  color:#cad2c5;
  text-decoration:none;
  font-size:18px !important;
  // padding:5px 1px;
  margin-left:190px;
  margin-bottom:0px;
}

.closebtn:hover{
  text-decoration:none;
  color:white;
}
