// Card general layout
.card{
  padding:5px;
  border-radius:5px;
  background-color:#264653;
  box-shadow: 3px 3px #333533;
  margin:10px;
  width:90%;
  a{
    color: #e5e5e5;
  }
  a:hover{
    color:white;
    text-decoration:none;
    font-size:101%;
  }
}

.pic{
  width:100%;
  background-color:white;
}

.picture{
  width:100%;
  height:180px;
  object-fit:contain;
}

.price-tag{
  background-color:#333533;
  color:#e5e5e5;
  width:100%;
  padding:5px 5px;
  font-size:14px;
  text-align:center;
}
// -----------------------------

// My instruments cards
.mine{
  width:90%;
  background-color:#e5e5e5;
  border:none;
  box-shadow:none;
  a{
    color: #333533;
  }
}
// -------------------------------

// Index card when user is not logged in
#visitor{
  width:80%;
}
// ------------------------------------




