footer{
  background-color:#264653;
  color: #e5e5e5;
  margin: 0px;
  padding:5px;
  text-align:center;
  p{
    margin-left:10px;
    font-size:12px;
    line-height:0.7px;
    padding-top:2px;
  }
  .img-footer{
    width:40px;
    height:40px;
    border-radius:50%;
    margin: 0px 30px;
  }
}
