// navbar basic layout
.navbar-lewagon {
  justify-content: space-between;
  background: white;
  flex-grow: 0;
  img {
    width: 40px;
  }
}

#upperbar{
  background-color:#264653;
  display:flex;
  flex-direction:row;
  width:100%;
}

.spread{
  display:flex;
  flex-direction:row;
  align-items:space-between;
  a{
  color:#cad2c5;
  }
  a:hover{
    color: #cad2c5;
  }
}

// ------------------------------

// Logo layout
.logo{
  margin:0px;
  font-size:26px;
  font-family: 'Lobster', cursive;
  color: #cad2c5;
}
// ---------------------------------

// Search tool
.search-area{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.btnsrcnav{
  border-radius:5px;
  color:#264653;
  border:1px solid #cad2c5;
  margin-left:5px;
  background-color:#cad2c5;
  padding:6px 10px;
}

.btnsrcnav:hover{
  background-color:#264653;
  color: #cad2c5;
  border:1px solid #cad2c5;
}

.campsrcnav{
  border-radius:5px;
}
// ..................................

// Sign-up Link
.signup-link{
  line-height:1px;
  text-align:center;
  color: #cad2c5;
  a{
    color: #cad2c5;
    font-weight:700;
    text-decoration:underline;
  }
  a:hover{
    color:white;
    text-decoration:underline;
  }
}
// --------------------------------------

// Log in/out button

.logbtn{
  border:1px solid #cad2c5;
  border-radius:15px;
  a{
  color:#cad2c5;
  }
  a:hover{
    color:#333533;
  }
}

.logbtn:hover{
background-color: #cad2c5;
color:#333533;
}
// -----------------------------------
