.order-pic{
width:105px;
height:105px;
border:1px solid #333533;
background-color:white;
margin-bottom:5px;
margin-top:15px;
padding:2px;
}

.order-picture{
  width:100%;
  height:100px;
  object-fit:contain;
}

.info{
  margin-left:20px;
}

.order-page{
  height:34vw;
  width:90%;
}

.order-row{
  padding:5px;
  border-bottom: 1px solid white;
}
