// Sidebar basic layout
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #264653;
  transition: 0.5s;
  padding-top: 60px;
  overflow-y: auto;
}

.sidebar a:hover {
  color: #e5e5e5;
}
// -------------------------------------

// Main Title
#mine-title{
  color: #e5e5e5 !important;
  margin:5px;
}
// -------------------------------

// Sidebar close "x"
.sidebar .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
}

.closebtn{
  color:#e5e5e5;
  text-decoration:none;
  font-size:18px !important;
  margin-left:190px;
  margin-bottom:0px;
}

.closebtn:hover{
  text-decoration:none;
  color:white;
}
// ------------------------------------

// Links to edit and destroy on the card
.manager_area{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
// individual links edit and destroy
#card-link-del{
  font-size:15px;
  a{
    color:#6a040f;
  }
}

#card-link-edit{
   font-size:15px;
   a{
    color:#264653;
  }
}
// --------------------------------

// responsiveness
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
// --------------------------------
