// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body{
  background-color: #e5e5e5;
  color:#333533;
}

h1, h2, h3, h4{
  color:#264653;
  font-family: 'Varela Round', sans-serif;
  font-weight:500;
}

h4{
  margin-top:10px;
  text-align:center;
  a{
    color:#e5e5e5;
  }
}

.overcards-area{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  position:relative;
}

.head-title{
  margin-top:20px;
  margin-bottom:15px;
  margin-left:-40px;
  text-shadow: 1px 1px #e5e5e5;
}
