// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body{
  background-color: #b7b7a4;
}

h1, h4{
  text-align:center;
  color:#1d3557;
}

h1{
 margin-bottom:60px;
}

h4{
  margin-bottom:30px;
}

h2{
  font-size:50px;
  color:#1d3557;
  margin-bottom:20px;

}

h3{
  font-size:20px;
  color:#1d3557;
  margin:10px;
}

.btn{
  border-radius:5px;
}
